*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  Height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#9599e2;
 
}

#container {
  max-width: 1440px;
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

.image{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#9599e2;
  border-radius: 10px;
}

.image img{
  width: 31rem;

}

.form{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;

}


h2 {
margin-bottom: 50px;
text-transform: uppercase;
letter-spacing: 1.5px;
color: rgb(108, 25, 185);

}


table {
  width: 100%;
  border-collapse: collapse;
  outline: 0;

}

th,
td {
  border: 1px solid rgb(10, 10, 10);
  padding: 5px;
  outline: 0;
}

button {
  font-size: medium;
  padding: 7px;
  margin-top: 7px;
  cursor: pointer;
  border-radius: 5px;
  background-color:#aeb0e2;
  outline: auto;
}

input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #1614141c;
  width: 120%;

 
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.render {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
}

#botoes-1 {
  margin: 0 7px;
}

.tabela{
  width: 90%;
  padding-left: 10px;
  overflow-y: scroll;
}

#cadastroPetForm{
  margin-bottom: 20px;
  width: 80%;

}


